/*
Regla Css consta de 2 partes 
1) Selector - Etiquetas , etc 
2) Bloque de declaraciones 
- Atributos - atributo: valor;
atributo-de-mas-de-dos-palabras; otro-valor*/

/*son mala practica porque son bloqueantes cuando el navegador lee este tipo de instruccion */
@import url(otra-hoja.css);



/* 
Selectores Básicos:
1)Etiquetas - son elementos html
2)ID - atributo id - #
3)Clases - atributo class - (.)
*/

/* Etiquetas :
*/


html {
    scroll-behavior: smooth;
}

       

h1 {
    color: orangered;
    background-color: black;
}

p {
    color: midnightblue;
}

/* Estilos con id - - se los considera un antiPatrón */

#parrafo-dos{
    background-color: skyblue;
}

/* Class - pueden reutilizar código CSS
-- Podés ordenarlas por orden alfabético para tenerlas mas a mano */

.bg-skyblue{
    background-color: skyblue;
}

.bg-steelblue{
    background-color: steelblue;
}

.text-20 {
font-size: 20px;
}

.text-32{
    font-size: 32px;
}

.text-white {
    color: white;
}

.hijos-directos >li {
    background-color: thistle;
}

.hijos-descendientes b {
    background-color: thistle;
}

/*Los selectores de hermanos se aplican a elementos hermanos y POR DEBAJO del selector de referencia*/

/*General - todos los que estan por debajo*/

.hermanos-general ~ li {
    background-color: thistle;
}

/*adyacente - solo el que esta adyacente por debajo*/

.hermanos-adyacente + li {
    background-color: thistle;
}

/*Selectores por atrtibutos*/

.selectores-atributos a[href] {
    color: orangered;
}

.selectores-atributos a[target="_blank"] {
    font-weight: bold;
}

/*el comodin * se aplica cuando el atributo contiene el texto citado en cualquier parte */

.selectores-atributos a[href*="jonmircha"] {
    font-size: 24px;
}

/*el comodin ^ se aplica cuando el atributo contiene el texto citado al inicio */

.selectores-atributos a[href^="http://"] {
    text-decoration: none;
}

/*el comodin $ se aplica cuando el atributo contiene el texto citado al final */

.selectores-atributos a[href$=".com/"] {
    background-color: black;
}

/*el comodin ~ se aplica cuando el atributo contiene el texto citado en una lista separada por espacios */

.selectores-atributos a[class~="cursos"] {
    background-color: midnightblue;
}

/*el comodin | se aplica cuando el atributo contiene el texto citado en una lista separada por espacios y la palabra luego tenga un guión medio - */

.selectores-atributos a[class|="menu"] {
    font-style: italic;
}

/*Selector universal (*) */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif
}

.selector-universal * {
    font-size: 26px;
}

/*Pseudo-Clases : dan estilo dependiendo del contexto, posicion o estado del elemento
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-elements
 */

.form-pseudoclases *:required{
    border-color: yellow;
}

.form-pseudoclases *:valid{
    border-color: green;
}

.form-pseudoclases *:invalid{
    border-color: red;
}

.form-pseudoclases *:focus{
    color: skyblue;
}

.form-pseudoclases *:disabled{
    color: pink;
}

/*------------hover cuando te pones encima del elemento---------------------------------

:active
:link
:hover
:active

*/

.menu-pseudoclases a:visited{
    color: olive;
}


.menu-pseudoclases a:hover{
    color: orange;
}

.p-pseudoclases:hover{
    font-size: 20px;
}